	<!-- Modal -->
	<div id="DistLoads" class="modal fade" role="dialog">
  	    <div class="modal-dialog">

   	  <!-- Modal content-->
   	    <div class="modal-content">
    		   <div class="modal-header">
       		    <button type="button" class="close" data-dismiss="modal">&times;</button>
      		    <h4 class="modal-title">Distributed Load</h4>
      	          </div>
      	          
      	        
                <form name="distloadForm"  class="form-inline" role="form"  novalidate>
      		 
      		  <div class="modal-body">
                 
                  <div class="row">
                     <div class="col-xs-6">
                     
                      <div class="form-group">
                         <label>Start X:</label>
                       
                              <input type="number" name="distloadstartX" placeholder="Start of Distributed Load" id="distloadstartX"  ng-model="distloadstartX"  style="width:100%;" required/>                         
                       
                          <span style="color:red" ng-show="distloadForm.distloadstartX.$dirty && distloadForm.distloadstartX.$invalid">
                         <p class="help-block text-warning" ng-if="distloadForm.distloadstartX.$error.required">The start of the distributed load is required</p>
                         <p class="help-block text-warning" ng-if="distloadForm.distloadstartX.$error.number">Entry must be a number</p>
                         </span>
                       </div>
                    </div>
                    <div class="col-xs-6">
                    <div class="form-group">
                        <label>End X:</label> <!--class="col-xs-2"-->
                        
                            <input type="number" name="distloadendX" placeholder="End of Beam Property"  id="distloadendX"  ng-model="distloadendX"  style="width:100%;" required/>

                         <span style="color:red" ng-show="distloadForm.distloadendX.$dirty && distloadForm.distloadendX.$invalid">
                        <p class="help-block text-warning text-warning" ng-if="distloadForm.distloadendX.$error.required">The end of the distributed load is required</p>
                        <p class="help-block text-warning text-warning" ng-if="distloadForm.distloadendX.$error.number">Entry must be a number</p>
                        </span>
                     </div>
                    </div>
                  </div> 
                   
                  
                  <br />
                  
                 <div class="row">   
                    <div class="col-xs-6">
                       <div class="form-group">
                        <label>Start q:</label>
                   
                             <input type="number" name="startQ" placeholder="Running Load" id="startQ" ng-model="startQ" style="width:100%;" required/>

                        <span style="color:red" ng-show="distloadForm.startQ.$dirty && distloadForm.startQ.$invalid">
                        <p class="help-block text-warning" ng-if="distloadForm.startQ.$error.required">The load per distance is required</p>
                        <p class="help-block text-warning" ng-if="distloadForm.startQ.$error.number">Entry must be a number</p>
                        </span>
                     </div>
                  </div>
                  <div class="col-xs-6">
                     <div class="form-group">
                        <label>End q:</label>
                 
                            <input type="number" name="endQ" placeholder="Running Load" id="endQ" ng-model="endQ" style="width:100%;" required/>
                       
                         <span style="color:red" ng-show="distloadForm.endQ.$dirty && distloadForm.endQ.$invalid">
                        <p class="help-block text-warning" ng-if="distloadForm.endQ.$error.required">The load per distance is required</p>
                        <p class="help-block text-warning" ng-if="distloadForm.endQ.$error.number">Entry must be a number</p>
                        </span>
                  
                       </div>
                    </div>
                   </div>
                   <br />
                    
                   
                      <br />
                   <div ng-show="distloadCtrl.error1">Make sure your distributed load spans some length.</div>
                    <div ng-show="distloadCtrl.error2">Make sure the load is on the beam.</div>
                       <div ng-show="distloadCtrl.error3">The start of the distributed load must be less than end.</div>
                                  
                            <!-- <div> Form is Valid: {{distloadForm.$valid}} </div>   -->
                            
	                	 </div>  <!-- End of Modal Form Body -->
                       
               		 <div class="modal-footer">
       				 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       				  <button type="button" class="btn btn-primary" ng-click="distloadCtrl.submit()" ng-disabled="distloadForm.$invalid">Add</button>
                	</div>
                 </form>
                  
           </div>

          </div>
	</div>